{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "transform-flow-strip-types",
    ["module-resolver", {
      "root": ["./"]
    }],
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ]
  ]
}
